.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin-top: 64px;
  margin-bottom: 48px;
}

.title {
  margin-bottom: 48px;
  font-size: 52px;
  line-height: 66px;
  font-weight: bold;
}

.phoneLink {
  margin-bottom: 16px;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  margin-bottom: 48px;
}

@media all and (min-width: 768px) {
  .footer {
    margin-top: 112px;
    margin-bottom: 112px;
  }
}
