.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin-top: 64px;
  margin-bottom: 48px;
}

.footer::before {
  position: absolute;
  content: '';
  display: none;
  width: 686px;
  height: 686px;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  background: linear-gradient(90deg, rgba(253, 219, 146, 0.5) 0%, rgba(209, 253, 255, 0.5) 100%);
  filter: blur(700px);
  border-radius: 9000px;
  z-index: -1;
}

.title {
  margin-bottom: 48px;
  font-size: 52px;
  line-height: 66px;
  font-weight: bold;
  text-align: center;
}

.phoneLink {
  margin-bottom: 16px;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  margin-bottom: 48px;
}

@media all and (min-width: 768px) {
  .footer {
    margin-top: 112px;
    margin-bottom: 112px;
  }

  .footer::before {
    display: block;
  }
}
