.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px 20px;
  font-weight: 400;
  font-family: inherit;
  border-radius: 16px;
  outline: 0;
  transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.purple,
.purpleRound {
  color: var(--color-white);
  background: var(--color-purple-500);
  border: none;
}

.purple:hover,
.purpleRound:hover {
  background: var(--color-purple-300);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #7A6EFE;
}

.purple:disabled,
.purpleRound:disabled {
  color: var(--color-grey-black-30);
  background: var(--color-grey-black-10);
}

.purpleRound {
  border-radius: 66px;
}

@media all and (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
