.card {
  position: relative;
  flex-shrink: 0;
  width: 250px;
}

.card:not(:first-child) {
  margin-left: 18px;
}

.cardInner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px 32px;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
}

.bgShapeContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.shadowArtContainer {
  position: absolute;
  top: 80px;
  left: 24px;
  right: 24px;
  bottom: -12px;
  display: flex;
  align-items: flex-end;
  z-index: 0;
}

.shadowArtContainer img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  filter: blur(28px);
  border-radius: 64px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.linkText {
  font-weight: 300;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
}

.buttonLink {
  width: 100%;
  margin-top: 32px;
}

.button {
  width: 100%;
}

.awardContainer {
  position: absolute;
  top: 0;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 12px;
  transform: translateX(-50%);
}

@media all and (min-width: 768px) {
  .icon {
    margin-bottom: 64px;
  }

  .cardInner {
    padding-top: 120px;
  }
}
