.superpower {
  position: relative;
  padding: 0 16px;
  margin-top: 48px;
}

.superpower::before,
.superpower::after {
  position: absolute;
  content: "";
  display: none;
  width: 686px;
  height: 686px;
  top: 50%;
  background: linear-gradient(180deg, #db04df 0%, #04c5df 100%);
  filter: blur(700px);
  border-radius: 9000px;
  z-index: -1;
}

.superpower::before {
  left: 0;
  transform: translate(-50%, -50%);
}

.superpower::after {
  right: 0;
  transform: translate(30%, -30%);
}

.title {
  font-size: 52px;
  line-height: 66px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.skillBlock {
  margin-bottom: 32px;
}

.listTitle {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
}

.list li {
  margin-bottom: 16px;
  font-weight: 400;
}

.list li::before {
  content: "•";
  display: inline-block;
  margin-right: 6px;
}

@media all and (min-width: 1024px) {
  .superpower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 144px;
  }

  .superpower::before,
  .superpower::after {
    display: block;
  }

  .list {
    columns: 2;
    column-gap: 32px;
  }

  .content {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
