.lastCard {
  min-height: auto;
}

.right {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(72px, auto));
  grid-gap: 72px;
  justify-content: center;
  justify-items: center;
  padding: 0 16px;
  margin-bottom: 32px;
}

.logoImg {
  width: 80px;
  height: 80px;
  border-radius: 16px;
}

@media all and (min-width: 768px) {
  .lastCard {
    grid-template-columns: 45% 55%;
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-gap: 0;
    padding: 38px 48px 38px 0;
    margin-bottom: 0;
  }

  .logoImg {
    width: 64px;
    height: 64px;
    margin: 16px;
    border: 2px solid #c785ff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.18);
  }
}
