.lastCard {
  min-height: auto;
}

.right {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(72px, auto));
  grid-gap: 72px;
  justify-content: center;
  justify-items: center;
  padding: 0 16px;
  margin-bottom: 32px;
}

.logoImg {
  width: 80px;
  height: 80px;
  border-radius: 16px;
}

.logoImg:hover {
  box-shadow: 0px 8.0218px 6.41744px rgba(0, 0, 0, 0.0196802),
    0px 3.35132px 2.68105px rgba(0, 0, 0, 0.0282725),
    0px 1.79177px 1.43342px rgba(0, 0, 0, 0.035),
    0px 1.00445px 0.803563px rgba(0, 0, 0, 0.0417275),
    0px 0.533458px 0.426766px rgba(0, 0, 0, 0.0503198),
    0px 0.221984px 0.177587px rgba(0, 0, 0, 0.07);
  border: 2px solid #c785ff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.18);
}

@media all and (min-width: 768px) {
  .lastCard {
    grid-template-columns: 45% 55%;
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-gap: 0;
    padding: 38px 48px 38px 0;
    margin-bottom: 0;
  }

  .logoImg {
    width: 64px;
    height: 64px;
    margin: 16px;
  }
}
