.workedWith {
  margin-top: 88px;
  padding: 0 16px;
}

.title {
  font-size: 52px;
  line-height: 66px;
  font-weight: bold;
  margin-bottom: 24px;
}

.cardContainer {
  margin-top: 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 24px;
  margin-bottom: 24px;
}

@media all and (min-width: 768px) {
  .workedWith {
    margin-top: 226px;
    padding: 0 16px;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
