.workedWith {
  position: relative;
  padding-top: 90px;
}

.bgShapeContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.bgShapeBlur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../../../images/bg-shapes/worked-with-mobile.png');
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;
}

.bhShape1 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.bhShape2 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-20%);
}

.acquanitedBlock {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'title' 'videoCard' 'cvBtn';
  grid-gap: 32px;
  padding: 16px 24px;
}

.acquanitedBlock :global(.videoCard) {
  grid-area: videoCard;
  justify-self: center;
  align-self: center;
}

.titleContainer {
  grid-area: title;
}

.cvBtn {
  margin-top: 8px;
  grid-area: cvBtn;
}

.floatIcons {
  position: relative;
  display: none;
  min-height: 430px;
  grid-area: floatIcons;
}

.floatIcon {
  position: absolute;
  width: 140px;
  height: 180px;
}

:global(.fi) {
  bottom: 40px;
  left: 0;
}

:global(.fr) {
  bottom: 0;
  right: 10%;
}

:global(.da) {
  top: 66px;
  right: 40%;
}

:global(.ga) {
  top: 48px;
  right: 0;
}

.experienceSection {
  margin-top: 90px;
  margin-bottom: 32px;
  padding: 0 16px;
}

.experienceTitle,
.experienceSubtitle {
  text-align: center;
}

.cardContainer {
  margin-top: 48px;
  padding: 0 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 24px;
  margin-bottom: 24px;
}

@media all and (min-width: 768px) {
  .workedWith {
    padding-top: 0;
  }

  .bgShapeBlur {
    background-image: url('../../../images/bg-shapes/worked-with.png');
    background-position: center top -40%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }

  .acquanitedBlock {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 'floatIcons videoCard'
      'title videoCard'
      'cvBtn videoCard';
    grid-gap: 32px;
    padding-top: 80px;
  }

  .floatIcons {
    display: block;
  }

  .cvBtn {
    justify-self: start;
    width: 100%;
    max-width: 334px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .experienceSection {
    margin-top: 190px;
    margin-bottom: 48px;
  }

  .title {
    max-width: 400px;
    margin-bottom: 16px;
  }
}
