.workedWith {
  position: relative;
  margin-top: 88px;
  padding: 0 16px;
}

.workedWith::before {
  position: absolute;
  content: '';
  display: none;
  width: 602.17px;
  height: 602.17px;
  background: linear-gradient(90deg, rgba(184, 203, 184, 0.8) 0%, rgba(184, 203, 184, 0.8) 0%, rgba(180, 101, 218, 0.8) 0%, rgba(207, 108, 201, 0.8) 33%, rgba(238, 96, 156, 0.8) 66%, rgba(238, 96, 156, 0.8) 100%);
  filter: blur(700px);
  border-radius: 9000px;
  z-index: -1;
}

.title {
  font-size: 52px;
  line-height: 66px;
  font-weight: bold;
  margin-bottom: 24px;
}

.cardContainer {
  margin-top: 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 24px;
  margin-bottom: 24px;
}

@media all and (min-width: 768px) {
  .workedWith {
    margin-top: 226px;
    padding: 0 16px;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
