@font-face {
  font-family: 'Nexa';
  src: url('../font/Nexa-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Nexa';
  src: url('../font/Nexa-ExtraBold.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('../font/Nexa-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('../font/Nexa-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
