.cardBottom {
  padding: 32px 24px;
  background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.09) 114%);
  backdrop-filter: blur(100px);
  border-radius: 0 0 25px 25px;
}
